In [3]:
import pandas as pd

In [7]:
projectid = "ga-bigquery-class-project"

In [194]:
query = '''SELECT RANK() OVER(ORDER BY count DESC) rank, count, comment, avg_score, count_subs, count_authors, example_id 
FROM (
  SELECT comment, COUNT(*) count, AVG(avg_score) avg_score, COUNT(UNIQUE(subs)) count_subs, COUNT(UNIQUE(author)) count_authors, FIRST(example_id) example_id
  FROM (
    SELECT body comment, author, AVG(score) avg_score, UNIQUE(subreddit) subs, FIRST('http://reddit.com/r/'+subreddit+'/comments/'+REGEXP_REPLACE(link_id, 't[0-9]_','')+'/c/'+id) example_id
    FROM [fh-bigquery:reddit_comments.2015_05]
    WHERE author NOT IN (SELECT author FROM [fh-bigquery:reddit_comments.bots_201505])
    AND subreddit IN (SELECT subreddit FROM [fh-bigquery:reddit_comments.subr_rank_201505] WHERE authors>10000)
    GROUP EACH BY 1, 2
  )
  GROUP EACH BY 1
  ORDER BY 2 DESC
  LIMIT 300
)'''

query = '''SELECT body,  score, retrieved_on, created_utc, (retrieved_on - created_utc) AS diff, link_id, parent_id, id, subreddit, name  FROM [fh-bigquery:reddit_comments.all_2015] WHERE name="t1_cof7392"
and body != "[removed]" and body != "[deleted]" and link_id == parent_id ORDER BY retrieved_on LIMIT 10

'''
# where name="t1_cgcdg0o"

In [195]:
data_frame = pd.read_gbq(query, project_id = projectid)

Requesting query... ok.
Query running...
Query done.
Processed: 156.9 Gb

Retrieving results...
  Got page: 1; 100% done. Elapsed 9.77 s.
Got 1 rows.

Total time taken 9.79 s.
Finished at 2017-02-10 17:03:54.

In [196]:
data_frame.shape

(1, 10)

In [197]:
data_frame.head()

,body,score,retrieved_on,created_utc,diff,link_id,parent_id,id,subreddit,name
0,"Funny, but tasteless.",5,NaN,1423423425,NaN,t3_2v6adw,t3_2v6adw,cof7392,ImGoingToHellForThis,t1_cof7392

https://www.reddit.com/r/worldnews/comments/5t64ar/exclusive_trump_border_wall_to_cost_216_billion/