## Lesson 1.4 - Independant Practice

Here's the situation - your working with a Postgre Database at a large wine distributor who needs you to maintain their database. You'll use some of your advanced SQl skills to take care of customer cases. Let's begin! 

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [1]:
import pandas as pd
from sqlalchemy import

Connect to the database. Note - enter your own connection string. For help on how to load the raw CSV file into a Postgre database, please refer to the documenatation in the lession plan on previous SQL lessons.

In [7]:

pd.read_sql()

TypeError: read_sql() missing 2 required positional arguments: 'sql' and 'con'

Select all of the wines with varietal type "Cabernet" that have an alcohol content above 5 and create a new column

Someone decided that they wanted to purchase *all* of these high alcohol cabs for their resteraunts, so make sure to mark them as *sold*. Your predicesor forgot to add a column for *sales date*, so you will have to add this in to the database table as well.

Select all of the cabernets with high alcohol

Set their sale date to today

Now, for our analysis we want to take a look at all the high quality wines. Select the wines with ratings above 7 and save the result as a pandas dataframe

But wait! You just recieved a call that we not only want to view high quality wines, but we want to see high quality wines with low acidity and medium alcohol content. Remember, we cannot include the wines already sold in this query.

Lastly, we want to round the density column to two variables within the database.

**BONUS**: Continue to transform the data within the SQL database Pinot Noir's with low citric acid