A dictionary of column names & data types, and number or rows
Function produces a "nice database"

Example:
    Input:
        {"first_name": char(18), age: int}, number of rows = 3
    
    Output:
        ____|_first_name_|_age_|
        | 1 |            |     |

In [90]:
import pandas as pd

import sqlite3

In [94]:
def dictionary_to_database(data_dictionary = {}, number_of_rows = 3):
    dummy_data_dictionary = {"char(18)": "blank string", "int": 0}
    
    keys = data_dictionary.keys()
    values = data_dictionary.values()
    
    dataframe = pd.DataFrame()
    for key in keys:
        dataframe[key] = [dummy_data_dictionary[data_dictionary[key]] for _ in range(number_of_rows)]
    
#     sqlite_db = "test_database.sqlite"
#     conn = sqlite3.connect(sqlite_db)
#     dataframe.to_sql(name = "SQL_database", con = conn, dtype = data_dictionary)

    return dataframe


test_dictionary = {"first_name": "char(18)", "age": "int"} 
dictionary_to_database(test_dictionary, 8)

     first_name  age
0  blank string    0
1  blank string    0
2  blank string    0
3  blank string    0
4  blank string    0
5  blank string    0
6  blank string    0
7  blank string    0

In [79]:
# For creating random names
import string
import random

''.join(random.choice(string.ascii_lowercase) for _ in range(18)).title()

'Lvtdawtjfeugdhbgsj'