# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [177]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [178]:
data = pd.read_csv('../../DSI-BOS-students/apasciuto/datasets/w3_liquorsale.csv')

In [179]:
data.head(3)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34

In [153]:
data['Date'] = pd.to_datetime(data['Date'], infer_datetime_format=True)

In [154]:
# data['State Bottle Cost']  = data['State Bottle Cost'] .str.replace('$', '')

In [156]:
# data['State Bottle Retail']  = data['State Bottle Retail'] .str.replace('$', '')

In [157]:
# data['Sale (Dollars)']  = data['Sale (Dollars)'] .str.replace('$', '')

In [147]:
# data['State Bottle Cost'] = data['State Bottle Cost'].apply(lambda x: float(x.replace('$', '')))

In [148]:
# data['State Bottle Retail'] = data['State Bottle Retail'].apply(lambda x: float(x.replace('$', '')))

In [149]:
# data['Sale (Dollars)'] = data['Sale (Dollars)'].apply(lambda x: float(x.replace('$', '')))

In [180]:
cols = ['State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)']
for col in cols:
    data[col] = data[col].apply(lambda x: float(x.replace('$', '')))

In [181]:
data.head(3)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34

In [167]:
data.dtypes

Date                      object
Store Number               int64
City                      object
Zip Code                  object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [137]:
data = source.sort_values(by='Date', ascending=False)

In [138]:
print(data['Date'].max())
print(data['Date'].min())

2016-03-31 00:00:00
2015-01-05 00:00:00

In [172]:
# twenty_fifteen_one = data[(data.Date >= '2015-01-05') & (data.Date <= '2015-04-04')]

In [73]:
# twenty_fifteen_two = data[(data.Date >= '2015-04-05') & (data.Date <= '2015-07-04')]

In [74]:
# twenty_fifteen_three = data[(data.Date >= '2015-07-05') & (data.Date <= '2015-10-04')]

In [75]:
# twenty_fifteen_four = data[(data.Date >= '2015-10-05') & (data.Date <= '2016-01-04')]

In [76]:
# twenty_sixteen_one = data[(data.Date >= '2015-01-05') & (data.Date <= '2016-03-31')]

In [ ]:
data["Store Number"] = data["Store Number"].astype(int)
data["Zip Code"] = data["Zip Code"].astype(int)
data["County Number"] = data["County Number"].astype(int)
data["Category"] = data["Category"].astype(int)
data["Vendor Number"] = data["Vendor Number"].astype(int)
data["Item Number"] = data["Item Number"].astype(int)
data["Bottle Volume (ml)"] = data["Bottle Volume (ml)"].astype(int)
data["Bottles Sold"] = data["Bottles Sold"].astype(int)

In [182]:
mask = (data['Date'] >= '2015-01-05') & (data['Date'] <= '2016-01-05')
twenty_fifteen = data.loc[mask]

In [ ]:
data['Category'.isnull().values.any()

In [23]:
data = source[['Date', 'Store Number', 'County', 'City', 'Zip Code', 'State Bottle Cost', 'State Bottle Retail', 'date_peaked']]

Timestamp('2015-01-05 00:00:00')

In [ ]:
df.truncate(before='1/2/2014', after='1/3/2014')

In [3]:
# import pandas as pd

## Load the data into a DataFrame
# pd.read_csv()

## Transform the dates if needed, e.g.
# df["Date"] = pd.to_datetime(df["Date"], format="%m-%d-%y")

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [4]:
# import seaborn as sns
# import matplotlib.pyplot as plt

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [6]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.