In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
source = pd.read_csv("../../DSI-BOS-students/apasciuto/datasets/w3_liquorsale.csv", low_memory=False)

In [3]:
source.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [ ]:
data["Date"] = pd.to_datetime(data["Date"], infer_datetime_format=True)

In [ ]:
cols = ["State Bottle Cost", "State Bottle Retail", "Sale (Dollars)"]
for col in cols:
    data[col] = data[col].apply(lambda x: float(x.replace("$", "")))

In [ ]:
data = source.sort_values(by='Date', ascending=True)

In [ ]:
# print(data.Date.min())
# print(data.Date.max())

In [ ]:
data = data.set_index("Date")

In [ ]:
data.dropna(inplace=True)

In [ ]:
data["Total Sales"] = data["State Bottle Retail"].mul(data["Bottles Sold"])

In [ ]:
market_data = data[["Store Number", "City", "Zip Code", "Total Sales", "Item Description", "Category Name", "Total Volume Sold (Liters)"]]

In [ ]:
market_data.head()

In [ ]:
twentyfifteen_sales = market_data.loc["2015-01-05":"2016-01-04", "Total Sales"].sum()
twentyfifteen_sales

In [ ]:
twentyfifteen_volume = market_data.loc["2015-01-05":"2016-01-04", "Total Volume Sold (Liters)"].sum()
twentyfifteen_volume

In [ ]:
twenty_fifteen_one = data.loc["2015-01-05":"2015-04-04"]

In [ ]:
twentyfifteen_one = twenty_fifteen_one[["Store Number", "City", "Zip Code", "Total Sales", "Total Volume Sold (Liters)", "Item Description", "Category Name"]]

In [ ]:
twentyfifteen_one.head()

In [ ]:
twenty_fifteen_two = data.loc["2015-04-05":"2015-07-04"]

In [ ]:
twenty_fifteen_three = data.loc["2015-07-05":"2015-10-04"]

In [ ]:
twenty_fifteen_four = data.loc["2015-10-05":"2016-01-04"]

In [ ]:
twenty_sixteen_one = data["2015-01-05":"2016-03-31"]

In [ ]:
twenty_fifteen_one = data[""]
twenty_fifteen_one = data[(data.Date >= '2015-01-05') & (data.Date <= '2015-04-04')]

In [ ]:
data["City"].value_counts()

In [ ]:
data["City"].unique()