In [ ]:
# url = 'goo.gl/tscEdJ'

In [131]:
import csv

import numpy as np

import plotly.tools as tls
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

tls.set_credentials_file(username='apasciuto', api_key='hu9AAlWjRNQYL8BK0jJY')

In [132]:
data_source = 'sat_scores.csv'
data = []

with open(data_source, 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        data.append(row)
file.close()

#file = open('sat_scores.csv', 'r')
#reader = csv.reader(file)
#data = list(reader)

In [133]:
print(data)

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

In [134]:
labels = data[0]
data = data[1:]
benchmark = data[len(data)-1]

print(benchmark)

['All', '45', '506', '514']

In [135]:
state_names = []
[state_names.append(row[0]) for row in data[:-1]]
print(state_names)

['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS']

In [157]:
print([type(item) for item in data[0]])

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]

In [158]:
# Convert 
rate = labels[1]
math = labels[2]
verbal = labels[3]

for row in data:
    rate = int(row[1])
    math = int(row[2])
    verbal = int(row[3])
print(type(rate))

<class 'int'>