In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
# Make df with job id's that have descriptions containing Python
python_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_and_Python.csv')

In [87]:
python_df.shape

(305, 3)

In [88]:
salary_df.head()

   Unnamed: 0                   id  over_90k
0           0  jl_85c4e91c561780aa         0
1           1  jl_e632343c455d80f9         0
2           2  jl_1b5a168dfc7b2712         0
3           3  jl_05654b2739edb3dc         0
4           4  jl_1a7766c45b1abbeb         0

In [89]:
salary_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_salary.csv')

In [90]:
years_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_years.csv')

In [91]:
phd_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/phd_df.csv')

phd_df=phd_df.rename(columns = {'job_id':'id'})
phd_df.head()

   Unnamed: 0                   id  has_phd                             title
0           0  jl_9587aad4baab10f1        1             Data Science Engineer
1           1  jl_8cce239a68b06ecc        1         Bioinformatics Engineer I
2           2  jl_d5e17d142783f070        1                Research Scientist
3           3  jl_fa8592452682f9a1        1  Senior Machine Learning Engineer
4           4  jl_c110f141fea2888f        1         Senior Clinical Scientist

In [92]:
startup_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/startup_df.csv')

In [93]:
scientist_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Scientist_Classifier.csv')

In [94]:
# merge python and salary dfs
jobs = pd.merge(python_df, salary_df, how = 'outer', on ='id')
jobs.columns

Index([u'Unnamed: 0_x', u'id', u'Python', u'Unnamed: 0_y', u'over_90k'], dtype='object')

In [95]:
del jobs[u'Unnamed: 0_x']

In [96]:
del jobs[u'Unnamed: 0_y']

In [97]:
# now merge phd
jobs = pd.merge(jobs, phd_df, how = 'outer', on = 'id')

In [98]:
del jobs['Unnamed: 0']

In [99]:
# now merge years
jobs = pd.merge(jobs, years_df, how = 'outer', on = 'id')

In [100]:
del jobs['Unnamed: 0']

In [101]:
# now merge startup
jobs = pd.merge(jobs, startup_df, how = 'outer', on = 'id')

In [102]:
del jobs['Unnamed: 0']

In [103]:
scientist_df = scientist_df.rename(columns = {'ID':'id'})

In [104]:
# now merge scientist
jobs = pd.merge(jobs, scientist_df, how = 'outer', on = 'id')

In [105]:
jobs.head()

,id,Python,over_90k,has_phd,title,years,has_startup,Unnamed: 0,Title,Classifier
0,jl_f43cd8061406b3d7,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1,jl_b59a64d3298e7fe8,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,jl_fbadb59b5f73dc18,1.0,1.0,NaN,NaN,0.0,NaN,3.0,NaN,NaN
3,jl_90603c7f1f0af480,1.0,1.0,NaN,NaN,0.0,NaN,16.0,NaN,NaN
4,jl_70351b5092814475,1.0,1.0,1.0,Biomedical Data Scientist,NaN,NaN,5.0,biomedical data scientist,1.0

In [106]:
jobs['has_phd'].fillna('0', inplace = True)

In [107]:
jobs['has_startup'].fillna('0', inplace = True)

In [108]:
del jobs['Unnamed: 0']

In [109]:
jobs = jobs.rename(columns = {'Classifier': 'has_scientist'})

In [112]:
jobs = jobs.drop_duplicates(subset = 'id')

In [116]:
title_df = pd.read_csv('/Users/teresaborcuch/Desktop/title_df.csv')

In [118]:
jobs = pd.merge(jobs,title_df,how = 'outer', on = 'id')

In [120]:
del jobs['title_x']
del jobs['Unnamed: 0']
del jobs['Title']
del jobs['has_scientist']

In [122]:
jobs = jobs.rename(columns = {'title_y': 'title'})

In [124]:
jobs = jobs.drop_duplicates(subset = 'id')

In [125]:
jobs.shape

(1972, 8)

In [126]:
jobs['title'].count()

802

In [221]:
jobs1 = jobs.dropna(subset = ['id', 'over_90k','has_phd','years','has_startup','title'])

In [222]:
jobs1.shape

(357, 10)

In [133]:
jobs1['company'].count()

357

In [134]:
jobs2 = jobs.dropna(subset = ['company'])

In [190]:
jobs['scientist_title'] = [0] * len(jobs['id'])

In [191]:
jobs.head()

,id,Python,over_90k,has_phd,years,has_startup,title,company,scientist_title
0,jl_f43cd8061406b3d7,1.0,1.0,0,NaN,0,Director of Data Science and Analysis,Fidelity Investments,0
1,jl_b59a64d3298e7fe8,1.0,1.0,0,NaN,0,NaN,NaN,0
2,jl_fbadb59b5f73dc18,1.0,1.0,0,0.0,0,NaN,NaN,0
3,jl_90603c7f1f0af480,1.0,1.0,0,0.0,0,Analytics Engineer (Boston),QuantumBlack,0
4,jl_70351b5092814475,1.0,1.0,1,NaN,0,NaN,NaN,0

In [207]:
scientists = []
for i, row in jobs.iterrows():
    title = str(row[6])
    if "Scientist" in title:
        scientists.append(1)
    else:
        scientists.append(0)
        
jobs['scientist_title'] = scientists

In [211]:
#jobs['analyst_title'] = [None] * len(jobs['id'])
analysts = []
for i, row in jobs.iterrows():
    title = str(row[6])
    if "Analyst" in title:
        analysts.append(1)
    else:
        analysts.append(0)
        
jobs['analyst_title'] = analysts

In [212]:
jobs.head(50)

,id,Python,over_90k,has_phd,years,has_startup,title,company,scientist_title,analyst_title
0,jl_f43cd8061406b3d7,1.0,1.0,0,NaN,0,Director of Data Science and Analysis,Fidelity Investments,0,0
1,jl_b59a64d3298e7fe8,1.0,1.0,0,NaN,0,NaN,NaN,0,0
2,jl_fbadb59b5f73dc18,1.0,1.0,0,0.0,0,NaN,NaN,0,0
3,jl_90603c7f1f0af480,1.0,1.0,0,0.0,0,Analytics Engineer (Boston),QuantumBlack,0,0
4,jl_70351b5092814475,1.0,1.0,1,NaN,0,NaN,NaN,0,0
5,jl_05de118416baeef8,1.0,NaN,0,NaN,0,NaN,NaN,0,0
6,jl_50022587c7a4a8d9,1.0,1.0,0,0.0,0,Data Scientist Intern: Pricing & Profitability...,Wayfair,1,0
7,jl_44da2bd2b0b7e145,1.0,1.0,1,0.0,0,Machine Learning Scientist,Amazon Corporate LLC,1,0
8,jl_f5945f64ec7013e3,1.0,1.0,0,0.0,0,Data Scientist,MIT,1,0
9,jl_6c9d0349b46d0aae,1.0,1.0,1,3.0,0,Data Insights Analyst,Planet Pharma,0,1
10,jl_32062be6a68c7531,1.0,1.0,1,4.0,0,Clinical Data Scientist (8570),BioPoint,1,0
12,jl_e632343c455d80f9,1.0,0.0,0,0.0,0,"Scientist, Cancer Genomics – Informatics","Foundation Medicine, Inc.",1,0
14,jl_4fbc1d778df8203e,1.0,1.0,0,2.0,0,Data Scientist,Rapid7,1,0
16,jl_2370348e80d8c420,1.0,1.0,0,3.0,0,Data Scientist,Strategic Employment Partners,1,0
17,jl_85c4e91c561780aa,1.0,0.0,0,1.0,0,"Data Scientist - Waltham, MA location",Amadeus,1,0
19,jl_ada8a7b4477d3923,1.0,1.0,1,3.0,0,NaN,NaN,0,0
20,jl_25732595a7113f45,1.0,1.0,0,2.0,0,Biomedical Data Scientist,Booz Allen Hamilton,1,0
21,jl_b3462acabd0f43c3,1.0,0.0,1,NaN,0,Bioinformatics Scientist,Harvard University,1,0
22,jl_45aa9a89795b5d2b,1.0,1.0,1,0.0,0,Senior Data Scientist,Verizon,1,0
23,jl_2d63f589c7b4584b,1.0,1.0,1,2.0,0,Data Scientist,Wayfair,1,0
24,jl_b8658ac1d1483ab5,1.0,1.0,0,0.0,0,Data Scientist,Jobspring Partners,1,0
26,jl_40aa8253449c2054,1.0,0.0,0,2.0,1,Part Time Data Science Instructor,General Assembly,0,0
28,jl_9d3c55e683467e2c,1.0,0.0,0,NaN,0,Bioinformatics Analyst I - Molecular Biology Core,Dana-Farber Cancer Institute,0,1
29,jl_b5b7c26924376b59,1.0,1.0,0,0.0,0,NaN,NaN,0,0
30,jl_69101ac67eec9ea2,1.0,NaN,0,0.0,0,Software Engineer,Schireson Associates,0,0
31,jl_7ccd144baa4275ab,1.0,NaN,0,NaN,0,NaN,NaN,0,0
32,jl_ba19b2e0984e8e1f,1.0,1.0,1,3.0,1,Bioinformatics Scientist,"Foundation Medicine, Inc.",1,0
33,jl_5f30454eae8a42bd,1.0,1.0,1,3.0,0,PhD Research Scientist- Machine Learning,"Rakuten, Inc.",1,0
35,jl_ba29f67e688108c5,1.0,1.0,0,2.0,0,NaN,NaN,0,0
36,jl_ffb7f83fa7858f6a,1.0,1.0,1,NaN,0,"Data Scientist, Algorithms",Wayfair,1,0
38,jl_62f334a900a46076,1.0,1.0,0,2.0,0,"Scientist, Research and Modeling - Cyber Risk",AIR Worldwide,1,0
39,jl_4ec3c1a1ffc6ff64,1.0,1.0,0,4.0,0,Data Scientist,Oracle,1,0
40,jl_445f9f72145ccbcc,1.0,0.0,1,0.0,0,"Innovation Fellow, Clinical Data Science Center",Partners HealthCare(PHS),0,0
42,jl_8d188c08bf77e2fc,1.0,1.0,1,4.0,0,Senior Data Scientist – Computational Biologist,Tessella,1,0
43,jl_dfef34cc5989dfbe,1.0,1.0,1,4.0,0,Senior Data Scientist,Rapid7,1,0
44,jl_a638c3a55a1cfe96,1.0,1.0,1,1.0,0,Staff Data Scientist,GE Global Operations,1,0
45,jl_c28f0284f9a5d601,1.0,1.0,1,NaN,0,Principal Data Scientist - 37854BR,Aetna,1,0
46,jl_d433fe393f99e1f8,1.0,NaN,1,0.0,0,Applied Scientist II -,Amazon Corporate LLC,1,0
48,jl_021a7edb5cf4793f,1.0,1.0,1,NaN,0,NaN,NaN,0,0
49,jl_0ea00cbc973dc761,1.0,NaN,1,NaN,0,Cognitive / AI Data Scientist,QuintilesIMS,1,0
50,jl_e80b58b3976b3590,1.0,1.0,0,2.0,0,Data Scientist,Aspen Technology,1,0
51,jl_b856f9a5bc9b6cef,1.0,1.0,1,0.0,1,NaN,NaN,0,0
52,jl_8dcb69dd20ec366f,1.0,1.0,1,1.0,0,Data Scientist,Akamai,1,0
53,jl_d2b92fbd9fccfbff,1.0,NaN,0,0.0,0,NaN,NaN,0,0
54,jl_00e49ce025b8313b,1.0,1.0,1,NaN,0,NaN,NaN,0,0
55,jl_acce68fa735f50b1,1.0,0.0,0,NaN,0,Junior Front-End Data Scientist,Mathematica Policy Research,1,0
56,jl_d1a877c30ca7a5e6,1.0,1.0,0,0.0,0,NaN,NaN,0,0
57,jl_01a41531e800513c,1.0,1.0,1,2.0,0,Data Scientist,Partners HealthCare(PHS),1,0
58,jl_3d766c8404b3e286,1.0,1.0,0,0.0,0,Senior Data Scientist,National Fire Protection Association,1,0
59,jl_5a95e9f625751e1e,1.0,1.0,0,NaN,0,Data Operations Analyst,McKinsey & Company,0,1

In [215]:
jobs['Python'].value_counts()

1.0    305
Name: Python, dtype: int64

In [216]:
jobs['Python'].fillna('0', inplace = True)

In [217]:
jobs['Python'].value_counts()

0      1667
1.0     305
Name: Python, dtype: int64

In [225]:
jobs = jobs.dropna(subset = ['title'])

In [231]:
jobs.shape

(802, 10)

In [230]:
jobs.to_csv('/Users/teresaborcuch/Desktop/jobs_df.csv', encoding = "utf8")