In [11]:
import pandas as pd
import numpy as np
crunch = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")
my_categories = crunch[" market "].unique()
#print(my_categories)

In [12]:
crunch["mkt_dummy"] = pd.Categorical(crunch[" market "], my_categories)
#print(crunch["mkt_dummy"])

C:\Users\USER\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:
Setting NaNs in `categories` is deprecated and will be removed in a future version of pandas.
  if __name__ == '__main__':

In [37]:
crunch["striped funding total"] = crunch[" funding_total_usd "].str.strip()

#print(crunch["striped funding total"])

In [47]:
crunch["no_commas"] = crunch[" funding_total_usd "].replace(",","")
print(crunch["no_commas"])

0             750,000
1           1,750,000
2           4,000,000
3              40,000
4           1,500,000
5             600,000
6           7,000,000
7           4,912,393
8           2,000,000
9                 -
10          1,700,000
11             40,000
12                -
13                -
14          1,750,000
15                -
16          2,050,000
17             40,000
18            500,000
19                -
20          2,535,000
21          4,462,651
22          1,869,079
23         10,000,000
24          3,000,000
25          3,000,000
26          1,250,000
27         35,000,000
28             50,000
29          1,600,000
             ...
44920         651,000
44921       3,500,000
44922         190,000
44923         100,000
44924         870,000
44925       3,845,100
44926      45,750,000
44927             -
44928       9,000,000
44929       3,384,225
44930         800,000
44931          75,000
44932      12,039,999
44933       2,257,464
44934      38,900,000
44935             -
44936             -
44937       3,805,520
44938     866,550,786
44939      25,000,000
44940      14,750,000
44941      34,275,015
44942      15,398,910
44943       1,510,500
44944       2,686,600
44945         120,000
44946       1,587,301
44947          71,525
44948       9,300,000
44949      45,000,000
Name: no_commas, dtype: object

In [5]:
cleaned_funding_total = []
for i in crunch[" funding_total_usd "]:
    i = i.strip().replace(',','').replace('-','0')
    i = int(i)
    cleaned_funding_total.append(i)
crunch["clean_funding_total_usd"]=cleaned_funding_total

In [6]:
type(crunch["clean_funding_total_usd"][0])
my_median = crunch["clean_funding_total_usd"].median()
print(my_median)

1108519.0

In [7]:
new_list = []
for i in crunch["clean_funding_total_usd"]:
    if i > 0:
        new_list.append(i)
my_median = np.median(new_list)
print(my_median)
print(min(new_list))
print(max(new_list))

2000000.0
35
78795064652

In [9]:
crunch.describe()

C:\Users\USER\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       funding_rounds  founded_year  Unnamed: 18  clean_funding_total_usd
count    44950.000000  35226.000000          0.0             4.495000e+04
mean         1.681135   2007.083461          NaN             1.503854e+07
std          1.269198      7.522161          NaN             4.037381e+08
min          1.000000   1900.000000          NaN             0.000000e+00
25%          1.000000           NaN          NaN             6.798300e+04
50%          1.000000           NaN          NaN             1.108519e+06
75%          2.000000           NaN          NaN             7.112273e+06
max         16.000000   2014.000000          NaN             7.879506e+10