In [1]:
import pandas as pd
import numpy as np

In [2]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a    0.739383
b    0.686367
c    1.607772
d    1.101465
e    0.423921
f   -1.484505
g    1.781799
dtype: float64

In [7]:
# head of series

pd.Series.head(s)
#s.head()

a    0.739383
b    0.686367
c    1.607772
d    1.101465
e    0.423921
dtype: float64

In [36]:
# tail of series

pd.Series.tail(s)

c    0.815262
d    0.506705
e    0.072054
f   -0.515751
g   -0.191931
dtype: float64

In [10]:
# summary stats

#pd.Series.describe(s)
s.describe()

count    7.000000
mean     0.693743
std      1.080529
min     -1.484505
25%      0.555144
50%      0.739383
75%      1.354619
max      1.781799
dtype: float64

In [40]:
# select by location c to g

s.loc['c':]

c    0.815262
d    0.506705
e    0.072054
f   -0.515751
g   -0.191931
dtype: float64

In [41]:
# select just b

s.loc['b']

0.023265944389124635

In [13]:
# slice for rows 1-3

s[:3]

a    0.739383
b    0.686367
c    1.607772
dtype: float64

### Boolean indexing

In [45]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [46]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [47]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [50]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [51]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64