In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
# Make df with job id's that have descriptions containing Python
python_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_and_Python.csv')

In [87]:
python_df.shape

(305, 3)

In [88]:
salary_df.head()

   Unnamed: 0                   id  over_90k
0           0  jl_85c4e91c561780aa         0
1           1  jl_e632343c455d80f9         0
2           2  jl_1b5a168dfc7b2712         0
3           3  jl_05654b2739edb3dc         0
4           4  jl_1a7766c45b1abbeb         0

In [89]:
salary_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_salary.csv')

In [90]:
years_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/id_years.csv')

In [91]:
phd_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/phd_df.csv')

phd_df=phd_df.rename(columns = {'job_id':'id'})
phd_df.head()

   Unnamed: 0                   id  has_phd                             title
0           0  jl_9587aad4baab10f1        1             Data Science Engineer
1           1  jl_8cce239a68b06ecc        1         Bioinformatics Engineer I
2           2  jl_d5e17d142783f070        1                Research Scientist
3           3  jl_fa8592452682f9a1        1  Senior Machine Learning Engineer
4           4  jl_c110f141fea2888f        1         Senior Clinical Scientist

In [92]:
startup_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Project-04/startup_df.csv')

In [93]:
scientist_df = pd.read_csv('/Users/teresaborcuch/DSI-BOS-students/timote_hogan/Scientist_Classifier.csv')

In [94]:
# merge python and salary dfs
jobs = pd.merge(python_df, salary_df, how = 'outer', on ='id')
jobs.columns

Index([u'Unnamed: 0_x', u'id', u'Python', u'Unnamed: 0_y', u'over_90k'], dtype='object')

In [95]:
del jobs[u'Unnamed: 0_x']

In [96]:
del jobs[u'Unnamed: 0_y']

In [97]:
# now merge phd
jobs = pd.merge(jobs, phd_df, how = 'outer', on = 'id')

In [98]:
del jobs['Unnamed: 0']

In [99]:
# now merge years
jobs = pd.merge(jobs, years_df, how = 'outer', on = 'id')

In [100]:
del jobs['Unnamed: 0']

In [101]:
# now merge startup
jobs = pd.merge(jobs, startup_df, how = 'outer', on = 'id')

In [102]:
del jobs['Unnamed: 0']

In [103]:
scientist_df = scientist_df.rename(columns = {'ID':'id'})

In [104]:
# now merge scientist
jobs = pd.merge(jobs, scientist_df, how = 'outer', on = 'id')

In [105]:
jobs.head()

,id,Python,over_90k,has_phd,title,years,has_startup,Unnamed: 0,Title,Classifier
0,jl_f43cd8061406b3d7,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1,jl_b59a64d3298e7fe8,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,jl_fbadb59b5f73dc18,1.0,1.0,NaN,NaN,0.0,NaN,3.0,NaN,NaN
3,jl_90603c7f1f0af480,1.0,1.0,NaN,NaN,0.0,NaN,16.0,NaN,NaN
4,jl_70351b5092814475,1.0,1.0,1.0,Biomedical Data Scientist,NaN,NaN,5.0,biomedical data scientist,1.0

In [106]:
jobs['has_phd'].fillna('0', inplace = True)

In [107]:
jobs['has_startup'].fillna('0', inplace = True)

In [108]:
del jobs['Unnamed: 0']

In [109]:
jobs = jobs.rename(columns = {'Classifier': 'has_scientist'})

In [112]:
jobs = jobs.drop_duplicates(subset = 'id')

In [116]:
title_df = pd.read_csv('/Users/teresaborcuch/Desktop/title_df.csv')

In [118]:
jobs = pd.merge(jobs,title_df,how = 'outer', on = 'id')

In [120]:
del jobs['title_x']
del jobs['Unnamed: 0']
del jobs['Title']
del jobs['has_scientist']

In [122]:
jobs = jobs.rename(columns = {'title_y': 'title'})

In [124]:
jobs = jobs.drop_duplicates(subset = 'id')

In [125]:
jobs.shape

(1972, 8)

In [126]:
jobs['title'].count()

802

In [129]:
jobs1 = jobs.dropna(subset = ['id', 'over_90k','has_phd','years','has_startup','title'])

In [132]:
jobs1.shape

(357, 8)

In [133]:
jobs1['company'].count()

357

In [134]:
jobs2 = jobs.dropna(subset = ['company'])

In [142]:
for i, row in jobs.iterrows():
    title = jobs[]

TypeError: 'instancemethod' object is not iterable