In [41]:
# get a dataset of new jobs to test model on
import requests
import bs4
from urllib import urlopen
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [42]:
job_ids = []
titles = []
companies = []

In [43]:
for i in np.arange(0,470,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    #URL = "https://www.indeed.com/jobs?q=data+scientist+$20,000&l=Boston&start=10&pp"
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        job_ids.append(job_id)
     
        # get job title
        job = x.find('a', attrs={'data-tn-element': "jobTitle"}).text.strip()
        titles.append(job)
        
        # get company
        company = x.find('span', attrs={"itemprop":"name"}).text.strip()
        companies.append(company)

In [44]:
# Make a dataframe containing all job ID's, and titles for all new jobs posted 12/21/16-12/28/16
job_df = pd.DataFrame(columns = ['job_id','title','company'])
job_df['job_id'] = job_ids
job_df['title'] = titles
#job_df['company'] = companies

In [45]:
# figure out which ones call for a PhD
phd_job_ids = []
titles = []
for i in np.arange(0,1000,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%28PhD+or+PHD+or+Phd+or+Ph.d+or+Ph.D%29+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        phd_job_ids.append(job_id)

In [46]:
phd_df = pd.DataFrame(columns = ['job_id','has_phd'])
phd_df['job_id'] = phd_job_ids

for i, row in phd_df.iterrows():
    row.iloc[1] = 1

In [47]:
# merge phd_df and jobs

In [48]:
test_jobs = pd.merge(job_df,phd_df, how = 'outer', on = 'job_id')
test_jobs['has_phd'].fillna('0', inplace = True)

In [49]:
test_jobs.head(50)

,job_id,title,company,has_phd
0,jl_ce0b88780585db5e,Quantitative Data Analyst Intern,NaN,0
1,jl_166b32fc833354f5,Research Coordinator - Friedman School of Nutr...,NaN,0
2,jl_df3319bfb55ad3cf,Principal Data Scientist (Boston),NaN,1
3,jl_9a7d42c7e9942208,Data Scientist,NaN,0
4,jl_ee7e2f3d59a27997,Data Scientist II,NaN,0
5,jl_1f1198f76898781f,Data Scientist,NaN,1
6,jl_04bc09cfa0aed47c,Quantitative Data Analyst,NaN,0
7,jl_91c7efe451686ad0,Research Data Assistant-institutional Effectiv...,NaN,0
8,jl_3692ec266c2e0789,Analytics & Reporting Specialist,NaN,0
9,jl_dd84d4b5e0fc275c,Mid - Senior Data Engineer (Java),NaN,0
10,jl_babd32218ae1f4da,Data Engineer (Boston),NaN,0
11,jl_dbccaa10fa7e13f8,Electrophysiology Research Scientist (BS or MS),NaN,0
12,jl_edb97d3e6e2abee8,Vice President Data Science,NaN,0
13,jl_1cc8ba4be9585c02,Watson Health - Research Analyst II - Truven,NaN,0
14,jl_8bb734a28e3c730f,Quantitative Data Analyst,NaN,0
15,jl_28073c31ba9820ad,"Scientist, Research and Modeling (AIR)",NaN,1
16,jl_19723de11bdffbdc,2017 EFL Global Fellowship,NaN,0
17,jl_aea2292c8e84dd8a,Software Engineering Intern - Summer 2017,NaN,0
18,jl_dd97a554e1ef41b8,Research Assistant II,NaN,0
19,jl_4d70bb7cdd45a2e8,SAS Programmer,NaN,0
20,jl_4d70bb7cdd45a2e8,SAS Programmer,NaN,0
21,jl_d6cc03d085dbc65b,Business Intelligence Analyst,NaN,0
22,jl_0cfc14ae26947bc2,"Scientist, Immuno-oncology Job",NaN,0
23,jl_8144ce4c3a352b1e,Software Engineering Intern,NaN,0
24,jl_66136e7e9ca1fe71,Data Scientist / Software Engineer,NaN,1
25,jl_476a4b339dd0072f,Research Data Manager I - Neurology,NaN,0
26,jl_f337ab0603142782,Senior Data Scientist,NaN,1
27,jl_5412ca93cf926717,Data Analyst,NaN,0
28,jl_5412ca93cf926717,Data Analyst,NaN,0
29,jl_bb7aa67e9c5a414a,Cyber Analytics Researcher,NaN,1
30,jl_ac5c9ceba825214d,Research Assistant - HIV Research,NaN,0
31,jl_e2b99e9cd051cd41,Research Study Assistant II,NaN,0
32,jl_e6bc2b302d021ace,Research Analyst - Center for Study of Drug De...,NaN,0
33,jl_e2eed522ed417976,Product Manager,NaN,0
34,jl_0bea72ee44de7b55,Revenue Analyst,NaN,0
35,jl_6136f97f6ec70bfd,"Junior Associate, Business Analyst",NaN,0
36,jl_0339efbfe74ada29,MicroStrategy Consultant,NaN,0
37,jl_30c5bf7fe7b49271,Analytical Scientist I,NaN,1
38,jl_0ec77644b574a0bd,Bursar,NaN,0
39,jl_7b62a40f3ea90c00,Research Data Scientist,NaN,1
40,jl_1aceecf6331cc3b0,Biostatistician - I,NaN,0
41,jl_f923521ba815038b,COOP / 37.5 HRS./ DAY / BWH - NEUROLOGY,NaN,0
42,jl_7fe200413513198a,Large Molecule Bioanalytical Scientist (AS II)...,NaN,1
43,jl_cbc4d8775b10a35d,"Monitoring, Evaluation and Learning Officer",NaN,0
44,jl_a3ee1268e985e69b,Research Analyst II,NaN,0
45,jl_7496e23078087c82,Epic Interface Programmer,NaN,0
46,jl_42883e9c637f576e,2017 Summer Internship - Analyst - US Market A...,NaN,0
47,jl_c36903f741d4e9f7,Developer Internship,NaN,0
48,jl_bf3e63a3f018c0c2,Software Developer (Big Data Analytics),NaN,0
49,jl_ba395fda7529fa58,Software Engineer,NaN,0

In [50]:
# get jobs that mention Python
py_job_ids = []
titles = []
for i in np.arange(0,1000,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%28Python+or+python%29+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        py_job_ids.append(job_id)

In [51]:
py_df = pd.DataFrame(columns = ['job_id', 'has_python'])
py_df['job_id'] = py_job_ids

for i, row in py_df.iterrows():
    row.iloc[1] = 1

In [52]:
# merge python jobs with regular jobs
test_jobs = pd.merge(test_jobs,py_df, how = 'outer', on = 'job_id')
test_jobs['has_python'].fillna('0', inplace = True)

In [53]:
# get jobs over 90k
high_pay_jobs = []
for i in np.arange(0,1000,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%28Python+or+python%29+%2490%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    #URL = "https://www.indeed.com/jobs?q=data+scientist+$20,000&l=Boston&start=10&pp"
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        high_pay_jobs.append(job_id)

In [54]:
pay_df = pd.DataFrame(columns = ['job_id','over_90k'])
pay_df['job_id'] = high_pay_jobs

for i, row in pay_df.iterrows():
    row.iloc[1] = 1

In [55]:
pay_df.head()

                job_id over_90k
0  jl_9a7d42c7e9942208        1
1  jl_babd32218ae1f4da        1
2  jl_1f1198f76898781f        1
3  jl_df3319bfb55ad3cf        1
4  jl_1a6ce6a750359329        1

In [56]:
# merge 
test_jobs = pd.merge(test_jobs,pay_df, how = 'outer', on = 'job_id')

In [57]:
test_jobs['over_90k'].fillna('0', inplace = True)
test_jobs['over_90k'].value_counts()

1    387183
0      9831
Name: over_90k, dtype: int64

In [58]:
test_jobs = test_jobs.drop_duplicates(subset = 'job_id')

In [59]:
# get startup info
startup_job_ids = []
for i in np.arange(0,1000,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%28start-up+or+startup%29+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        startup_job_ids.append(job_id)

In [67]:
startup_df = pd.DataFrame(columns = ['job_id','has_startup'])
startup_df['job_id'] = startup_job_ids
for i, row in startup_df.iterrows():
    row.iloc[1] = 1

In [69]:
#merge 
test_jobs = pd.merge(test_jobs,startup_df, how = 'outer', on = 'job_id')

In [71]:
test_jobs.head()

,job_id,title,company,has_phd,has_python,over_90k,has_startup_x,has_startup_y
0,jl_ce0b88780585db5e,Quantitative Data Analyst Intern,NaN,0,1,0,NaN,1
1,jl_166b32fc833354f5,Research Coordinator - Friedman School of Nutr...,NaN,0,0,0,NaN,NaN
2,jl_df3319bfb55ad3cf,Principal Data Scientist (Boston),NaN,1,1,1,NaN,NaN
3,jl_9a7d42c7e9942208,Data Scientist,NaN,0,1,1,NaN,1
4,jl_ee7e2f3d59a27997,Data Scientist II,NaN,0,0,0,NaN,NaN

In [72]:
del test_jobs['has_startup_x']

In [73]:
test_jobs['has_startup_y'].fillna('0', inplace = True)

In [75]:
oneyear_ids = []
# get jobs with 1 years
for i in np.arange(0,470,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%221+year%22+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}&pp=".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        oneyear_ids.append(job_id)

In [81]:
oneyearjobs = pd.DataFrame(columns = ['job_id','years'])
oneyearjobs['job_id'] = oneyear_ids
for i, row in oneyearjobs.iterrows():
    row.iloc[1] = 1

In [86]:
twoyear_ids = []
# get jobs with 2 years
for i in np.arange(0,470,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%222+years%22+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        twoyear_ids.append(job_id)

In [87]:
twoyearjobs = pd.DataFrame(columns = ['job_id','years'])
twoyearjobs['job_id'] = twoyear_ids
for i, row in twoyearjobs.iterrows():
    row.iloc[1] = 2

In [94]:
threeyear_ids = []
# get jobs with 3 years
for i in np.arange(0,470,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%223+years%22+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}&pp=".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        threeyear_ids.append(job_id)

In [95]:
threeyearjobs = pd.DataFrame(columns = ['job_id','years'])
threeyearjobs['job_id'] = threeyear_ids
for i, row in threeyearjobs.iterrows():
    row.iloc[1] = 3

In [96]:
threeyearjobs.head()

                job_id years
0  jl_5412ca93cf926717     3
1  jl_e2eed522ed417976     3
2  jl_cd31130ced70a129     3
3  jl_47b66fea7717490a     3
4  jl_522e72ad083c0286     3

In [97]:
# get jobs with 4 years
fouryear_ids = []
for i in np.arange(0,470,10):
    URL = "https://www.indeed.com/jobs?q=data+science+%224+years%22+%2420%2C000%2B&l=Boston&fromage=7&radius=25&start={}".format(str(i))
    soup = BeautifulSoup(urlopen(URL).read(), 'html.parser')
    results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
    for x in results:
        # get job_id
        job_id = x.find('h2', attrs={"class": "jobtitle"})['id']
        fouryear_ids.append(job_id)

In [99]:
fouryearjobs = pd.DataFrame(columns = ['job_id','years'])
fouryearjobs['job_id'] = fouryear_ids
for i, row in fouryearjobs.iterrows():
    row.iloc[1] = 4

In [101]:
#merge test jobs and oneyearjobs
test_jobs = pd.merge(test_jobs,oneyearjobs, how = 'outer', on = 'job_id')

In [103]:
#merge test jobs and twoyearjobs
test_jobs = pd.merge(test_jobs,twoyearjobs, how = 'outer', on = 'job_id')

In [104]:
#merge test jobs and threeyearjobs
test_jobs = pd.merge(test_jobs,threeyearjobs, how = 'outer', on = 'job_id')

In [107]:
#merge test jobs and fouryearjobs
test_jobs = pd.merge(test_jobs,fouryearjobs, how = 'outer', on = 'job_id')

In [108]:
test_jobs.head()

,job_id,title,company,has_phd,has_python,over_90k,has_startup_y,years_x,years_y,years_x,years_y
0,jl_ce0b88780585db5e,Quantitative Data Analyst Intern,NaN,0,1,0,1,NaN,NaN,NaN,NaN
1,jl_166b32fc833354f5,Research Coordinator - Friedman School of Nutr...,NaN,0,0,0,0,NaN,NaN,NaN,NaN
2,jl_df3319bfb55ad3cf,Principal Data Scientist (Boston),NaN,1,1,1,0,NaN,NaN,NaN,NaN
3,jl_9a7d42c7e9942208,Data Scientist,NaN,0,1,1,1,NaN,NaN,NaN,NaN
4,jl_ee7e2f3d59a27997,Data Scientist II,NaN,0,0,0,0,NaN,NaN,NaN,NaN

In [110]:
# figure out which titles have scientist in them
scientists = []
for i, row in test_jobs.iterrows():
    title = unicode(row[1])
    if "Scientist" in title:
        scientists.append(1)
    else:
        scientists.append(0)
        
test_jobs['scientist_title'] = scientists

In [112]:
# figure out which titles have analyst in them
analysts = []
for i, row in test_jobs.iterrows():
    title = unicode(row[1])
    if "Analyst" in title:
        analysts.append(1)
    else:
        analysts.append(0)
        
test_jobs['analyst_title'] = analysts

In [114]:
test_jobs.shape

(214587, 13)

In [115]:
test_jobs = test_jobs.drop_duplicates(subset = 'job_id')

In [116]:
test_jobs.shape

(412, 13)

In [118]:
test_jobs.head()

,job_id,title,company,has_phd,has_python,over_90k,has_startup_y,years_x,years_y,years_x,years_y,scientist_title,analyst_title
0,jl_ce0b88780585db5e,Quantitative Data Analyst Intern,NaN,0,1,0,1,NaN,NaN,NaN,NaN,0,1
1,jl_166b32fc833354f5,Research Coordinator - Friedman School of Nutr...,NaN,0,0,0,0,NaN,NaN,NaN,NaN,0,0
2,jl_df3319bfb55ad3cf,Principal Data Scientist (Boston),NaN,1,1,1,0,NaN,NaN,NaN,NaN,1,0
3,jl_9a7d42c7e9942208,Data Scientist,NaN,0,1,1,1,NaN,NaN,NaN,NaN,1,0
4,jl_ee7e2f3d59a27997,Data Scientist II,NaN,0,0,0,0,NaN,NaN,NaN,NaN,1,0

In [117]:
#export to csv
test_jobs.to_csv('/Users/teresaborcuch/Desktop/test_jobs.csv', encoding = 'utf8')

In [124]:
# reupload fixed csv
testjobs = pd.read_csv('/Users/teresaborcuch/Desktop/test_jobs.csv')

In [123]:
# fix all the years
test_jobs.columns

Index([u'job_id', u'title', u'company', u'has_phd', u'has_python', u'over_90k',
       u'has_startup_y', u'years_x', u'years_y', u'years_x', u'years_y',
       u'scientist_title', u'analyst_title'],
      dtype='object')

In [126]:
del testjobs['Unnamed: 0']

In [127]:
testjobs.head()

,job_id,title,company,has_phd,has_python,over_90k,has_startup,years,twoyears,threeyears,fouryears,scientist_title,analyst_title
0,jl_ce0b88780585db5e,Quantitative Data Analyst Intern,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,0,1
1,jl_166b32fc833354f5,Research Coordinator - Friedman School of Nutr...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0,0
2,jl_df3319bfb55ad3cf,Principal Data Scientist (Boston),NaN,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,1,0
3,jl_9a7d42c7e9942208,Data Scientist,NaN,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1,0
4,jl_ee7e2f3d59a27997,Data Scientist II,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1,0

In [128]:
testjobs['years'].fillna(testjobs['twoyears'], inplace=True)

In [132]:
del testjobs['twoyears']

In [133]:
testjobs['years'].fillna(testjobs['threeyears'], inplace=True)

In [134]:
del testjobs['threeyears']

In [135]:
testjobs['years'].fillna(testjobs['fouryears'], inplace=True)

In [136]:
del testjobs['fouryears']

In [137]:
testjobs['years'].fillna('0', inplace=True)

In [140]:
#export to csv
testjobs.to_csv('/Users/teresaborcuch/Desktop/testjobs.csv')