In [1]:
import sqlite3

In [2]:
sqlite_db = "test_db.sqlite"
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()

In [3]:
c.execute("CREATE TABLE houses (field1 integer Primary KEY, sqft INTEGER, bdrms INTGRGER, age INTEGER, price INTEGER)")
conn.commit()

In [6]:
last_sale = (None, 4000,5,22,619000)
c.execute('INSERT INTO houses values (?,?,?,?,?)', last_sale)
conn.commit()

In [9]:
recent_sales = {
    (None, 2390 , 4, 34, 319000),
    (None, 1870 , 3, 14, 289000),
    (None, 1505 , 3, 90, 269000)
}
c.executemany('INSERT INTO houses values (?,?,?,?,?)', recent_sales)
conn.commit()

In [10]:
from numpy import genfromtxt

In [37]:
data = (genfromtxt('C:/Users/Pat.NOAGALLERY/Documents/data_sources/housing-data.csv', dtype='i8',
                    delimiter=',', skip_header=1)).tolist()

# append a None value to beginning of each sub-list
for d in data:
    d.insert(0, None)

In [38]:
for d in data:
    c.execute('INSERT INTO houses values (?,?,?,?,?)', d)

In [39]:
conn.commit()

In [40]:
results = c.execute('Select * from houses where bdrms = 4')
results.fetchall()

[(3, 2390, 4, 34, 319000),
 (9, 3000, 4, 75, 539900),
 (10, 1985, 4, 61, 299900),
 (15, 1940, 4, 7, 239999),
 (20, 2300, 4, 77, 449900),
 (23, 2609, 4, 5, 499998),
 (24, 3031, 4, 21, 599000),
 (28, 1962, 4, 53, 259900),
 (37, 2040, 4, 75, 314900),
 (39, 1811, 4, 24, 285900),
 (42, 2132, 4, 28, 345000),
 (43, 4215, 4, 66, 549000),
 (44, 2162, 4, 43, 287000),
 (47, 2567, 4, 57, 314000),
 (50, 1852, 4, 64, 299900)]

In [41]:
import pandas as pd

In [42]:
data = pd.read_csv('C:/Users/Pat.NOAGALLERY/Documents/data_sources/housing-data.csv', low_memory=False)

In [43]:
data.to_sql('houses_pandas', con = conn, if_exists='replace', index=False)

In [44]:
from pandas.io import sql as pdsql

In [45]:
pdsql.read_sql('select * from houses_pandas limit 10', con=conn)

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900
5  1985      4   61  299900
6  1534      3   12  314900
7  1427      3   57  198999
8  1380      3   14  212000
9  1494      3   15  242500

In [47]:
pdsql.read_sql('SELECT sqft, bdrms, price FROM houses_pandas limit 10', con=conn)

   sqft  bdrms   price
0  2104      3  399900
1  1600      3  329900
2  2400      3  369000
3  1416      2  232000
4  3000      4  539900
5  1985      4  299900
6  1534      3  314900
7  1427      3  198999
8  1380      3  212000
9  1494      3  242500

In [49]:
query = '''SELECT
sqft, bdrms, age, price
FROM houses_pandas
WHERE bdrms = 2 and price < 250000
'''
pdsql.read_sql(query, con=conn)

   sqft  bdrms  age   price
0  1416      2   49  232000
1   852      2   70  179900

In [50]:
query = '''SELECT
sqft, bdrms, age
FROM houses_pandas
WHERE age > 60
'''
pdsql.read_sql(query, con=conn)

    sqft  bdrms  age
0   2104      3   70
1   3000      4   75
2   1985      4   61
3   2300      4   77
4   1320      2   62
5   1236      3   78
6   1888      2   79
7   2040      4   75
8   3137      3   67
9   4215      4   66
10  1200      3   76
11   852      2   70
12  1852      4   64

In [51]:
query = '''SELECT COUNT(price)
FROM houses_pandas
'''
pdsql.read_sql(query, con=conn)

   COUNT(price)
0            47

In [52]:
query = '''SELECT AVG(sqft), MIN(price), MAX(price)
FROM houses_pandas
WHERE bdrms = 2
'''
pdsql.read_sql(query, con=conn)

   AVG(sqft)  MIN(price)  MAX(price)
0     1496.5      179900      368500

In [54]:
from sqlalchemy import create_engine
import pandas as pd
connect_param = 'postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind'
engine = create_engine(connect_param)
pd.read_sql("SELECT * FROM pg_catalog.pg_tables WHERE schemaname='public' limit 10", con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers
0,public,categories,dsi,None,True,False,False
1,public,full_order_table5,dsi_student,None,False,False,False
2,public,fo,dsi_student,None,False,False,False
3,public,table_join,dsi_student,None,False,False,False
4,public,full_order,dsi_student,None,False,False,False
5,public,customercustomerdemo,dsi,None,True,False,False
6,public,customerdemographics,dsi,None,True,False,False
7,public,customers,dsi,None,True,False,False
8,public,employees,dsi,None,True,False,False
9,public,employeeterritories,dsi,None,True,False,False

Questions:
  
  1. What's the average price per room for 1 bedroom apartments?
  
  *What's the average price per room for 2 bedrooms apartments?
  
  *What's the most frequent apartment size (in terms of bedrooms)?

  *How many are there of that apartment kind?
  
  *What fraction of the total number are of that kind?
  
  *How old is the oldest 3 bedrooms apartment?
  
  *How old is the youngest apartment?
  
  *What's the average age for the whole dataset?
  
  *What's the average age for each bedroom size?

Try to answer all these in SQL.

In [57]:
query = '''SELECT sqft, bdrms, age, price FROM pg_catalog.pg_tables WHERE bdrms = 2 and price < 250000 '''
pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.ProgrammingError) column "sqft" does not exist
LINE 1: SELECT sqft, bdrms, age, price FROM pg_catalog.pg_tables WHE...
               ^
 [SQL: 'SELECT sqft, bdrms, age, price FROM pg_catalog.pg_tables WHERE bdrms = 2 and price < 250000 ']